/*Fonts*/
/*Colors*/
body,
input {
  font-family: "Nunito Sans", sans-serif;
}

.nav__logo,
h1,
h2 {
  font-family: "Marcellus", serif;
}

h1 {
  color: #9c2c1e;
}

.nav__logo,
.nav__links > * {
  text-decoration: none;
}

.nav__logo {
  color: #eb624e;
  font-size: 30px;
}

.nav__links,
.hamburger__links {
  font-size: 18px;
  text-transform: uppercase;
}

.hamburger__link {
  font-weight: bold;
}

/* Color with shadow */
.nav__logo, .hamburger__link, .nav__hamburger, .home__carousel-img div {
  text-shadow: 0px 3px rgba(14, 8, 7, 0.08);
}

.home__search button,
.home__search input, .details__order-button {
  -webkit-box-shadow: 3px 3px rgba(14, 8, 7, 0.4);
          box-shadow: 3px 3px rgba(14, 8, 7, 0.4);
}

#root,
body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #d1e7ec), color-stop(35%, rgba(209, 231, 236, 0.9)), color-stop(60%, #d1e7ec), color-stop(70%, rgba(114, 185, 196, 0.5)), color-stop(80%, rgba(96, 175, 188, 0.62)), to(rgba(68, 158, 175, 0.81)));
  background: linear-gradient(180deg, #d1e7ec 20%, rgba(209, 231, 236, 0.9) 35%, #d1e7ec 60%, rgba(114, 185, 196, 0.5) 70%, rgba(96, 175, 188, 0.62) 80%, rgba(68, 158, 175, 0.81) 100%);
  z-index: 0;
}

nav {
  height: 50px;
}

nav,
footer {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__hamburger {
  font-size: 24px;
  color: #eb624e;
}

.nav__hamburger .hamburger__links {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  z-index: 1;
}

.nav__hamburger .hamburger__link,
.nav__hamburger .hamburger__link-active {
  text-decoration: none;
  padding: 10px 50px;
  border-bottom: 1px solid #0e0807;
}

.nav__hamburger .hamburger__link:hover, .nav__hamburger .hamburger__link-active,
.nav__hamburger .hamburger__link-active:hover,
.nav__hamburger .hamburger__link-active-active {
  color: #9c2c1e;
  background-color: rgba(0, 255, 255, 0.9);
}

main {
  max-width: 1200px;
}

footer div {
  margin: auto;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

footer div span {
  display: block;
}

.home__backgroundImg {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../img/backgroundImg.jpg");
  background-position: center;
  opacity: 0.7;
}

.home__carousel {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}

.home__carousel-wrapper {
  width: 100%;
  overflow: scroll;
}

.home__carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190%;
}

.home__carousel-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home__carousel-img {
  position: relative;
  font-family: "Marcellus", serif;
  height: 100px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.home__carousel-img div {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 8, 7, 0.35);
  color: white;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home__carousel-img div span {
  position: absolute;
  font-size: 20px;
  width: 100px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home__carousel-img div:hover {
  background-color: transparent;
}

.home__carousel-img div:hover span {
  opacity: 0;
}

.home__carousel-text {
  font-weight: bold;
  padding-left: 5px;
}

.home__carousel h1 {
  margin: 0;
  padding: 10px 0 10px 10px;
}

.home__search {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
}

.home__search .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.home__search .search__results {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-left: 50px;
}

.home__search .search__results .search__item {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-family: "Marcellus", serif;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.home__search .search__results .search__item img {
  width: 80px;
  height: 60px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__search .search__results .search__item:hover {
  color: #9c2c1e;
  background-color: cyan;
}

.home__search button,
.home__search input {
  border: 1px solid #0e0807;
}

.home__search input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.home__search button {
  border-radius: 5px 0 0 5px;
  border-right: none;
  padding: 0 10px;
}

.home__search button .fa-search {
  font-size: 28px;
  color: #eb624e;
}

.details__carousel {
  position: relative;
  overflow: hidden;
  height: 240px;
  width: 100%;
}

.details__carousel .carousel__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 400%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.details__carousel .carousel__wrapper .carousel__img {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.details__carousel .carousel__elements {
  z-index: 2;
}

.details__carousel .carousel__elements .carousel__buttons {
  width: 100%;
  position: absolute;
  margin-top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  z-index: 10;
}

.details__carousel .carousel__elements .carousel__buttons button {
  font-size: 20px;
  padding: 7px 50px;
  opacity: 0.9;
}

.details__carousel .carousel__elements .carousel__buttons .carousel__button-left {
  border-radius: 10px 0 0 10px;
}

.details__carousel .carousel__elements .carousel__buttons .carousel__button-right {
  border-radius: 0 10px 10px 0;
}

.details__carousel .carousel__elements span {
  position: absolute;
  right: 10px;
  margin-top: -40px;
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: rgba(14, 8, 7, 0.6);
}

.details__text {
  width: 90%;
  margin: 20px auto;
  margin-bottom: 60px;
}

.details__order {
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.details__order-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.details__order-text h2,
.details__order-text span {
  margin: 10px;
}

.details__order-text span {
  font-size: 18px;
  font-weight: bold;
}

.details__order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border: transparent;
  background-color: #4aeba8;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__order-button:hover {
  background-color: #35b982;
}
/*# sourceMappingURL=style.css.map */