#root,
body {
  margin: 0;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background: linear-gradient(180deg, #d1e7ec 20%, rgba(209, 231, 236, 0.9) 35%, rgba(209, 231, 236, 1) 60%, rgba(114, 185, 196, 0.5) 70%, rgba(96, 175, 188, 0.62) 80%, rgba(68, 158, 175, 0.81) 100%);
  z-index: 0;
  overflow-x: hidden;
}
main {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

nav {
  z-index: 20;
  height: 50px;
}
nav,
footer {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  div {
    margin: auto;
    text-align: center;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-secondary;
    @extend %darktext-shadow;
    span {
      font-size: 20px;
      display: block;
    }
  }
}

.background__img {
  position: absolute;
  inset: 0;
  z-index: -5;
  background-image: url("../../img/backgroundImg.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}
