.cta {
  margin: 10px auto 20px auto;
  padding: 7px 0 5px 0;
  display: block;
  width: 80%;
  max-width: 250px;
  @extend %darkbox-shadow;
  background-color: $color-buttons;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-family: $font-main;
  color: $color-black;
  &:hover {
    background-color: #35b982;
  }
  &__bad {
    background-color: white;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
