.details {
  width: 100%;
}

.details__carousel {
  position: relative;
  overflow: hidden;
  height: 240px;
  width: 100%;
  .carousel__wrapper {
    position: relative;
    display: flex;
    height: 200px;
    transition: 0.8s;
    .carousel__img {
      position: relative;
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }
  .carousel__elements {
    z-index: 2;
    .carousel__buttons {
      width: 100%;
      position: absolute;
      margin-top: -20px;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      z-index: 10;
      button {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        cursor: pointer;
        font-size: 20px;
        padding: 7px 50px;
        opacity: 0.9;
        transition: 0.5s;
        &:hover {
          background-color: rgba(255, 255, 255, 1);
        }
      }
      .carousel__button-left {
        border-radius: 10px 0 0 10px;
      }
      .carousel__button-right {
        border-radius: 0 10px 10px 0;
      }
    }
    span {
      position: absolute;
      right: 10px;
      margin-top: -40px;
      font-weight: bold;
      color: white;
      padding: 5px;
      background-color: rgba(14, 8, 7, 0.6);
    }
  }
}

.smallCarousel {
  display: none;
  overflow: hidden;
  height: 380px;
  .smallCarousel__container {
    display: grid;
    gap: 10px;
    position: relative;
    transition: 0.5s;
    .carousel__smallImg {
      border-radius: 10px;
      position: relative;
      width: 100px;
      height: 87px;
      transition: 0.5s;
      background-position: center;
      background-size: cover;
    }
  }
}

.details__content {
  width: 90%;
  margin: auto;
  margin-bottom: 110px;
}

.details__intro {
  h1 {
    margin: 10px 0;
    padding: 0;
    background: none;
  }
  span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    .fa-star {
      color: $color-main;
    }
  }
}

.details__order {
  padding: 20px 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  &-text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    h2 {
      margin: 0;
    }
    div {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      .details__order--price {
        font-size: 20px;
        font-weight: bold;
      }
      .details__order--children {
        font-style: italic;
        font-size: 16px;
      }
      .display__desktop {
        display: none;
      }
    }

    // span {
    //   font-size: 18px;
    // }
  }
  // .details__order--children {
  //   font-style: italic;
  // }
}
.details .cta {
  margin-bottom: 0;
}
