.enquiries {
  z-index: 10;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d1e7ec 20%, rgba(209, 231, 236, 0.6) 35%, rgba(209, 231, 236, 0.5) 60%, rgba(114, 185, 196, 0.4) 70%, rgba(96, 175, 188, 0.5) 80%, rgba(68, 158, 175, 0.6) 100%);

  &__price {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 95%;
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__content {
    position: absolute;
    top: 70px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.95);
    width: 85%;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    padding: 20px;
    h1 {
      margin: 10px;
    }
    h2 {
      margin: 0 0 10px 0;
    }
    .guest__input {
      background-color: white;
      border: none;
      box-shadow: 3px 3px 3px 2px rgba(14, 8, 7, 0.2);
      font-weight: bold;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
      }
    }

    .date,
    .guests {
      transition: 0.9s;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: rgba(235, 98, 78, 0.5);
        font-weight: bold;
      }
    }

    .react-datepicker__day {
      &--in-range,
      &--in-selecting-range,
      &--keyboard-selected {
        background-color: $color-main;
        transition: 1s;
      }
    }

    .enquiries__button {
      display: flex;
      gap: 10px;
      width: 90%;
    }

    .guests__container {
      position: relative;

      .guests {
        text-align: center;
        background: white;
        width: 95%;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          background-color: rgba(235, 98, 78, 0.5);
          font-weight: bold;
        }
      }
      .guests__expand {
        z-index: 10;
        position: absolute;
        top: 54px;
        width: 95%;
        @extend %darkbox-shadow;
        .guest__expand--wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: white;
          width: 98.5%;
          padding: 8px;
          border-radius: 5px;
          border: 1px solid black;
          .guest__label-small {
            font-size: 12px;
            font-style: italic;
          }
          .fas {
            font-size: 16px;
            padding: 10px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              scale: 1.2;
              color: $color-main;
            }
          }
          .guest__expand--input {
            align-items: center;
            margin: 0 5px 0 5px;
            input {
              border-radius: 5px;
              background-color: $color-main;
              color: white;
              font-size: 16px;
              padding: 4px;
              width: 20px;
              text-align: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
