.explore__hero {
  position: absolute;
  z-index: -1;
  height: 250px;
  width: 100%;
  background-image: url("../../img/explore_hero.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.explore {
  width: 100%;
}

.explore__search {
  position: relative;
  margin: auto;
  .search__results {
    position: absolute;
    width: 90%;
    z-index: 10;
  }
}

.filterSort {
  display: block;
  position: relative;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  z-index: 2;

  &-active {
    width: 95%;
    max-width: 350px;
  }
  &__button {
    display: flex;
    padding: 5px 10px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    // background-color: white;
    justify-content: center;
    transition: 0.5s;
    &__header {
      display: flex;
    }
    .fas {
      margin-left: 10px;
      font-size: 30px;
    }
    &:hover,
    &-active {
      color: $color-main;
      font-weight: bold;
      border-color: $color-main;
    }
    &-active {
      border-radius: 10px 10px 0 0;
      width: 100%;
      max-width: 400px;
    }
  }
}

.filterSortWrapper {
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid $color-main;
  border-color: $color-main;
  @extend %darkbox-shadow;
  position: absolute;
  transition: 0.6s;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 2;
}

.filterSort__content {
  transition: 0.5s;
  padding: 10px 5px 20px 5px;
  display: flex;
  justify-content: space-around;
  h2 {
    margin: 0px 0px 10px 0px;
  }
  span {
    display: inline-block;
    font-size: 18px;
    margin-top: 7px;
  }
}

.filterSort__filter {
  label {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
  input[type="radio"] {
    cursor: pointer;
    vertical-align: middle;
    margin: -3px 3px 0 0;
    box-shadow: none;
    border: 1px solid black;
    height: 18px;
    border-radius: 0px;
    appearance: none;
    width: 18px;
    transition: 0.5s;
    &:checked {
      background-color: $color-buttons;
    }
  }
  input[type="radio"]:hover {
    background-color: $color-buttons;
  }
}
.filterSort__sort {
  .sortBtn {
    cursor: pointer;
    padding: 2px 0px;
    text-align: center;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: white;
    font-family: $font-main;
    font-size: 16px;
    box-shadow: none;
    transition: 0.5s;
    &:hover,
    &-active {
      background-color: $color-buttons;
    }
  }
  .btn1 {
    margin-right: 5px;
  }
}

.cards {
  display: grid;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
  align-self: start;
  .card {
    position: relative;
    @extend %card;
    &__text {
      padding: 15px;
    }
    h2 {
      margin: 10px 0 10px 0;
    }
    &__price {
      margin-top: 10px;
      display: block;
      font-size: 18px;
      font-weight: bold;
    }
    &__rating {
      margin: 3px 0 0 0;
    }
  }
  .card__carousel {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    .card__carousel_wrapper {
      display: flex;
      height: 100%;
      transition: 0.8s;
    }
    .card__img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }
    .card__buttons {
      position: absolute;
      display: flex;
      gap: 2px;
      width: 100%;
      bottom: 0;
      border-radius: 0 0 10px 10px;
      overflow: hidden;
      button {
        cursor: pointer;
        transition: 0.5s;
        border: none;
        flex: 1;
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0.5);

        &:hover {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
