/* Search Input - Home and Explore */
.explore__search,
.home__search {
  width: 90%;
  max-width: 400px;
  #search__input {
    width: 100%;
  }
}

.search__wrapper {
  display: flex;
  height: 45px;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  label,
  #search__input {
    border: 1px solid $color-black;
    @extend %darkbox-shadow;
  }
  #search__input {
    flex: 1;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
  label {
    display: flex;
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 0 10px;
    background-color: rgba(239, 239, 240, 1);
    .fa-search {
      margin: auto;
      font-size: 28px;
      color: $color-main;
    }
  }
}
.search__results {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 5px 5px;
  margin: -19px 20px 20px 20px;
  .search__item {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-family: $font-secondary;
    color: $color-black;
    font-size: 18px;
    border-bottom: 1px solid black;
    img {
      width: 80px;
      height: 60px;
      object-position: center;
      object-fit: cover;
    }
    &:hover {
      color: $color-secondary;
      background-color: rgba(0, 255, 255, 1);
    }
  }
}

/* Forms - enquiry, contact, add hotel, review*/
.form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  label {
    font-weight: bold;
  }
  &__input--wrapper {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .input,
  .image__uploader {
    display: block;
    width: 95%;
    max-width: 400px;
    font-family: $font-main;
    border: 1px solid black;
    border-radius: 5px;
    @extend %darkbox-shadow;
    padding: 5px;
    font-size: 16px;
    &::placeholder {
      color: black;
    }
  }
  textarea {
    resize: none;
  }
  .error-input {
    color: red;
    font-weight: bold;
  }

  .form__small-input--wrapper {
    display: flex;
    gap: 10px;
    .input {
      width: 90%;
      max-width: 100px;
    }
  }
}
textarea:focus,
input:focus {
  outline: none;
}

//Hide input number default arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//Response message when query api
.response {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.success {
  background-color: rgba(74, 235, 168, 0.7);
}
.error {
  background-color: rgba(255, 0, 0, 0.6);
}
