.home__backgroundImg {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../img/backgroundImg.jpg");
  background-position: center;
  opacity: 0.7;
}

.home__carousel {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  &-wrapper {
    width: 100%;
    overflow: scroll;
  }
  &-content {
    display: flex;
    width: 190%;
  }
  &-item {
    flex: 1;
  }
  &-img {
    position: relative;
    font-family: $font-secondary;
    height: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    div {
      width: 100%;
      height: 100%;
      background-color: rgba(14, 8, 7, 0.5);
      color: white;
      font-weight: bold;
      @extend %darktext-shadow;
      transition: 0.5s;
      span {
        position: absolute;
        font-size: 20px;
        width: 100px;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: transparent;
        span {
          opacity: 0;
        }
      }
    }
  }
  &-text {
    font-weight: bold;
    padding-left: 5px;
  }
  h1 {
    margin: 0px;
    font-size: 30px;
    padding: 10px 0 10px 10px;
    background: none;
    text-align: left;
  }
}

.home__search {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  &:focus-within {
    background: rgba(0, 0, 0, 0.6);
    top: 50px;
    width: 100%;
    max-width: 550px;
    left: 0;
    right: 0;
    transform: translateX(0);
    height: 100%;
  }
}
