.home__backgroundImg {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../img/backgroundImg.jpg");
  background-position: center;
  opacity: 0.7;
}

.home__carousel {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
  &-wrapper {
    width: 100%;
    overflow: scroll;
  }
  &-content {
    display: flex;
    width: 190%;
  }
  &-item {
    flex: 1;
  }
  &-img {
    position: relative;
    height: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    div {
      width: 100%;
      height: 100%;
      background-color: rgba(14, 8, 7, 0.35);
      color: white;
      font-weight: bold;
      @extend %darktext-shadow;
      transition: 0.5s;
      span {
        position: absolute;
        font-size: 20px;
        width: 100px;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: transparent;
        span {
          opacity: 0;
        }
      }
    }
  }
  &-text {
    font-weight: bold;
    padding-left: 5px;
  }
  h1 {
    margin: 0;
    padding: 10px 0 10px 10px;
  }
}

.home__search {
  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 90%;
  max-width: 400px;
  height: 45px;
  button,
  input {
    border: 1px solid $color-black;
    @extend %darkbox-shadow;
  }
  input {
    flex-grow: 2;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
  button {
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 0 10px;
    .fa-search {
      font-size: 28px;
      color: $color-main;
    }
  }
}

.search__results {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
}
