.home__backgroundImg {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../img/backgroundImg.jpg");
  background-position: center;
  opacity: 0.7;
}

.home__carousel {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  &-wrapper {
    width: 100%;
    overflow: scroll;
  }
  &-content {
    display: flex;
    width: 190%;
  }
  &-item {
    flex: 1;
  }
  &-img {
    position: relative;
    font-family: $font-secondary;
    height: 100px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    div {
      width: 100%;
      height: 100%;
      background-color: rgba(14, 8, 7, 0.35);
      color: white;
      font-weight: bold;
      @extend %darktext-shadow;
      transition: 0.5s;
      span {
        position: absolute;
        font-size: 20px;
        width: 100px;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: transparent;
        span {
          opacity: 0;
        }
      }
    }
  }
  &-text {
    font-weight: bold;
    padding-left: 5px;
  }
  h1 {
    margin: 0px;
    padding: 10px 0 10px 10px;
    background: none;
    // background: rgba(255, 255, 255, 0.6);
    // display: block;
    text-align: left;
  }
}

.home__search {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  .search__results {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 5px 5px;
    margin: -19px 20px 20px 20px;
    // margin: -20px 0 0 20px !important;
    // margin-left: 50px;
    // padding: 10px 0 5px 10px;
    .search__item {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      font-family: $font-secondary;
      color: $color-black;
      font-size: 18px;
      border-bottom: 1px solid black;
      img {
        width: 80px;
        height: 60px;
        object-position: center;
        object-fit: cover;
      }
      &:hover {
        color: $color-secondary;
        background-color: rgba(0, 255, 255, 1);
      }
    }
  }
}
