.login {
  &__label {
    display: block;
  }

  form {
    width: 90%;
    max-width: 500px;
    margin: auto;
    div {
      width: 90%;
      max-width: 300px;
      margin: auto;
      align-items: center;
    }
    input {
      width: 100%;
    }
  }
  &__error--login {
    display: block;
    background-color: rgba(250, 71, 98, 0.5);
    text-align: center;
    padding: 10px;
  }
}
