.messages {
  &__buttons {
    display: flex;
    width: 95%;
    max-width: 400px;
    gap: 10px;
    margin: 20px auto;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
  }
  &__card--wrapper {
    @extend %card;
    padding: 10px 20px;
    span {
      font-weight: bold;
    }
    div {
      margin-bottom: 5px;
    }
  }
}
