.messages {
  &__buttons {
    display: flex;
    width: 95%;
    max-width: 400px;
    gap: 10px;
    margin: auto;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
  }
  &__card {
    // border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 10%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 90%;
    max-width: 350px;
    margin: auto;
    padding: 10px 20px;
    transition: 1.5s;
    span {
      font-weight: bold;
    }
    div {
      margin-bottom: 5px;
    }
  }
}
