@media screen and (min-width: 500px) {
  .home__carousel-content {
    width: 150%;
  }
}

@media screen and (min-width: 600px) {
  .cards {
    .card {
      height: 250px;
      display: flex;
      background-color: rgba(255, 255, 255, 0.8);
      &__carousel {
        height: 100%;
        max-width: 400px;
      }
      &__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
        padding: 10px;
        &--text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          h2 {
            margin-top: 0;
          }
          .card__price {
            font-size: 20px;
          }
        }

        .cta {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  /*Nav*/
  .nav {
    &__links {
      display: flex;
      gap: 20px;
    }
    &__hamburger {
      display: none;
    }
  }

  /*Home*/

  .home__carousel {
    margin: auto;
    border-radius: 0 0 10px 10px;
    width: 800px;
    height: 210px;
    padding: 0 10px;
    &-wrapper {
      overflow: auto;
    }
    &-content {
      width: 100%;
      gap: 10px;
    }
    &-img {
      height: 120px;
      border-radius: 5px;
    }
  }

  //Details Page
  .details {
    width: 95%;
    &__intro h1 {
      text-align: start;
    }
  }
  .details__carousel--parent {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    gap: 20px;
    border-radius: 10px;
  }
  .details__carousel {
    height: 400px;
    flex: 1;
    .carousel__wrapper {
      height: 95%;
    }
  }
  .details__content {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    align-items: flex-start;
  }
  .details__text {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    grid-column: 7 span;
    margin-right: 20px;
    .return--link {
      left: auto;
      right: 20px;
      top: 20px;
    }
  }
  .details__order {
    padding: 20px;
    grid-column: 3 span;
    border-radius: 10px;
    position: static;
    &-text {
      flex-direction: column;
      align-items: flex-start;
      h2 {
        margin-bottom: 10px;
      }
      div {
        align-items: flex-start;
        gap: 3px;
        .display__desktop {
          display: block;
        }
      }
    }
  }
  .smallCarousel {
    display: block;
  }
  // Messages Page
  .messages__list {
    grid-template-columns: 1fr 1fr;
  }

  // Explore Cards
  .cards .card__text .cta {
    min-width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  //Explore Page
  .filterSort__button {
    display: none;
  }
  .explore__content {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    width: 90%;
    gap: 20px;
    margin: 20px auto;
  }
  .cards,
  .filterSort {
    width: 100%;
  }
  .filterSort {
    margin-top: 20px;
    .filterSortWrapper {
      border: none;
      padding-bottom: 20px;
    }
    &__content {
      flex-direction: column;
      padding: 20px;
      gap: 30px;
    }
    .sortBtn {
      width: 100%;
    }
    .filterSort__buttons {
      display: flex;
    }
  }
  .filterSortWrapper {
    display: block !important;
    position: static;
    border-radius: 10px;
    transform: none;
  }
  // Messages Page
  .messages__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
