body,
input {
  font-family: $font-main;
}

.nav__logo,
h1,
h2 {
  font-family: $font-secondary;
}
h1 {
  color: $color-secondary;
  text-align: center;
  margin: 20px auto;
  width: 95%;
  max-width: 320px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}
.nav__logo,
.nav__links > * {
  text-decoration: none;
}

.nav__logo {
  color: $color-main;
  font-size: 30px;
  @extend %darktext-shadow;
  transition: 0.5s;
  &:hover {
    scale: (1.05);
  }
}

.nav__links,
.hamburger__links,
button.hamburger__link {
  font-size: 18px;
  text-transform: uppercase;
}
.hamburger__link {
  @extend %darktext-shadow;
  font-weight: bold;
}
