/*Fonts*/

$font-main: "Nunito Sans", sans-serif;
$font-secondary: "Marcellus", serif;

/*Colors*/

$color-main: #eb624e;
$color-secondary: #9c2c1e;
$color-buttons: #4aeba8;
$color-black: rgb(14, 8, 7);
